In [1]:
import pandas as pd

In [2]:
pred_best = pd.read_csv('submit/submit_30_1438.csv', names=('id', 'best'))
pred_second = pd.read_csv('submit/submit_30_1444.csv', names=('id', 'second'))

In [4]:
pred = pd.merge(pred_best, pred_second, on='id')
pred.head(-10)

          id      best    second
0          0  0.744175  0.745894
1          1  0.076454  0.073222
2          2  0.026226  0.026787
3          3  0.008706  0.008210
4          4  0.043569  0.044887
...      ...       ...       ...
18035  18035  0.046723  0.046665
18036  18036  0.073990  0.072442
18037  18037  0.008656  0.008031
18038  18038  0.028520  0.030050
18039  18039  0.043787  0.042926

[18040 rows x 3 columns]

In [10]:
pred['mean'] = pred[['best', 'second']].mean(axis=1)
pred['diff'] = pred.best - pred.second

          id      best    second      mean
0          0  0.744175  0.745894  0.745035
1          1  0.076454  0.073222  0.074838
2          2  0.026226  0.026787  0.026507
3          3  0.008706  0.008210  0.008458
4          4  0.043569  0.044887  0.044228
...      ...       ...       ...       ...
18035  18035  0.046723  0.046665  0.046694
18036  18036  0.073990  0.072442  0.073216
18037  18037  0.008656  0.008031  0.008344
18038  18038  0.028520  0.030050  0.029285
18039  18039  0.043787  0.042926  0.043356

[18040 rows x 4 columns]

In [13]:
diff_min = pred['diff'].min()
diff_max = pred['diff'].max()
diff_mean = pred['diff'].mean()

print('min: {}, max: {}, mean:{}'.format(diff_min, diff_max, diff_mean))

min: -0.05368100360328487, max: 0.05956291504109501, mean:3.3750063611106156e-05